.main-container {
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (max-device-width: 539px) {
    .main {
        justify-content: center;
    }
}

@media only screen and (min-device-width: 540px) {
    .main::after {
        content: "";
        flex: auto;
    }
}

.main-item {
    box-sizing: border-box;
    /* border: 2px solid blueviolet; */
    width: 250px;
    height: 250px;
    padding: 10px;
    /* border: 1px solid black; */
    min-width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.main-item-image {
    cursor: pointer;
    height: 100%;
    width: 80%;
    /**/
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

.main-item-caption {
    color: white;
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}